.hummel__pdp__shelve
    h3 Você pode gostar
    .hummel__pdp__shelve__content
        .hummel__pdp__shelve__content-box.first
           img#shelve1(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
           h4#shelve1-sub Camiseta Hummel Haral Masculina
           span#shelve1-price R$ 129,90
        .hummel__pdp__shelve__content-box.second
           img#shelve2(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
           h4#shelve2-sub Camiseta Hummel Haral Masculina
           span#shelve2-price R$ 129,90
        .hummel__pdp__shelve__content-box.third
           img#shelve3(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
           h4#shelve3-sub Camiseta Hummel Haral Masculina
           span#shelve3-price R$ 129,90
        .hummel__pdp__shelve__content-box.fourth
           img#shelve4(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
           h4#shelve4-sub Camiseta Hummel Haral Masculina
           span#shelve3-price R$ 129,90


