section.hummel__pdp__especifications
  .hummel__pdp__especifications__descriptions
    h3 Descrição
    .hummel__pdp__especifications__descriptions-text
      p#productdescription A camiseta infantil Brick, tem modelagem adequada para as crianças um visual despojado e o icônico logo da hummel na parte frontal. É uma camiseta causal, super confortável e com um design clássico.
  .hummel__pdp__especifications__feat
    h3 Características
    .hummel__pdp__especifications__feat-box
        h4 Gênero
        p#productgenero Infantil
        h4 Cor
        p#productcolor Cinza
        h4 Características
        ul#productcaract 
         li modelagem infantil
         li confortável
         li clássico
        h4 Composição
        p#productcomp 88% Algodão, 12% Poliéster