<section class="hummel__pdp__maincontent">
    <div class="hummel__pdp__maincontent__imgs">
        <div class="hummel__pdp__maincontent__imgs__main">
            <img id="main-img" src="https://hummelbrasil.vteximg.com.br/arquivos/ids/156216-900-900/BR000081_mescla_1.jpg?v=636839429803330000">
        </div>
        <div class="hummel__pdp__maincontent__imgs__second">
            <img id="second-img" src="https://hummelbrasil.vteximg.com.br/arquivos/ids/156217-900-900/BR000081_mescla_2.jpg?v=636839429917830000">
        </div>
    </div>
    <div class="hummel__pdp__maincontent__infos">
        <div class="hummel__pdp__maincontent__infos-producname">
            <h1 id="productname">Camiseta Hummel Brick Infantil</h1>
        </div>
        <div class="hummel__pdp__maincontent__infos-sku">
            <p>SKU</p><span id="productid">BR000081-M_6</span>
        </div>
        <div class="hummel__pdp__maincontent__infos-price">
            <p id="oldprice">R$ 64,90</p>
            <p id="bestprice">R$ 29,90</p>
        </div>
        <div class="hummel__pdp__maincontent__imgs__second">
            <img id="second-img">
        </div>
    </div>
    <div class="hummel__pdp__maincontent__infos-sizes">
        <p>Tamanhos:</p>
        <div>
            <label>6</label>
            <label>8</label>
            <label>10</label>
            <label>12</label>
            <label>14</label>
        </div>
    </div>
    <div class="hummel__pdp__maincontent__infos-colors">
        <p>Tamanhos:</p>
        <div>
            <div>
                <img id="thumb1" src="http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000">
            </div>
            <div>
                <img id="thumb2" src="http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000">
            </div>
            <div>
                <img id="thumb3" src="http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000">
            </div>
        </div>
    </div>
    <div class="hummel__pdp__maincontent__infos-buybutton">
        <a href="#">Adicionar a Sacola</a>
    </div>
</section>