.hummel__pdp__table
  table
    thead
      tr
        th(colspan='5') Guia de Tamanhos
    tbody
      tr
        td.hummel__pdp__table-title 
        td.hummel__pdp__table-title Comprimento
        td.hummel__pdp__table-title Torax
        td.hummel__pdp__table-title Cintura
        td.hummel__pdp__table-title Quadril
      tr
        td P
        td 178
        td 94
        td 82
        td 97
      tr
        td M
        td 182
        td 99
        td 87
        td 102 
      tr
        td G
        td 186
        td 104
        td 92
        td 107
      tr
        td GG
        td 190
        td 110
        td 98
        td 113
      tr
        td EGG
        td 194
        td 116
        td 104
        td 119
      tr
        td EEGG
        td 194
        td 122
        td 110
        td 125
