section.hummel__pdp__float
    .hummel__pdp__float__container
        .hummel__pdp__float__container-sizes
            p Tamanho
            div
              label 6
              label 8
              label 10
              label 12
              label 14
        .hummel__pdp__float__container-price
            div
                span#oldprice
                    | R$ 64,90
                span#bestprice
                    | R$ 29,90
            a(href='#') Adicionar à Sacola
            
