section.hummel__pdp__maincontent
  .hummel__pdp__maincontent__imgs
    .hummel__pdp__maincontent__imgs__main
      img#main-img(src='https://hummelbrasil.vteximg.com.br/arquivos/ids/156216-900-900/BR000081_mescla_1.jpg?v=636839429803330000')
    .hummel__pdp__maincontent__imgs__second
      img#second-img(src='https://hummelbrasil.vteximg.com.br/arquivos/ids/156217-900-900/BR000081_mescla_2.jpg?v=636839429917830000')
  .hummel__pdp__maincontent__infos
    .hummel__pdp__maincontent__infos-producname
      h1#productname Camiseta Hummel Brick Infantil
    .hummel__pdp__maincontent__infos-sku
      p SKU
      span#productid BR000081-M_6
    .hummel__pdp__maincontent__infos-price
      p#oldprice R$ 64,90
      p#bestprice R$ 29,90
    .hummel__pdp__maincontent__infos-sizes
      p Tamanhos:
      div
        label 6
        label 8
        label 10
        label 12
        label 14
    .hummel__pdp__maincontent__infos-colors
      p Cores:
      .hummel__pdp__maincontent__infos-colors-content
        div
          img#thumb1(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
        div
          img#thumb2(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
        div
          img#thumb3(src='http://hummelbrasil.vteximg.com.br/arquivos/ids/156213/BR000081_branco_1.jpg?v=636839427475230000')
    .hummel__pdp__maincontent__infos-buybutton
      a(href='#') Adicionar à Sacola
    .hummel__pdp__maincontent__infos-description
      h3 Descrição
      p A camiseta infantil Brick, tem modelagem adequada para as crianças um visual despojado e o icônico logo da hummel na parte frontal. É uma camiseta causal, super confortável e com um design clássico....