extends ./_partials/_hummel-head.pug

//- Main Content
block content
  include ./_layouts/_hummel-header.pug
  include ./_layouts/_hummel-product-content.pug
  include ./_layouts/_hummel-product-especifications.pug
  include ./_layouts/_hummel-product-table.pug
  include ./_layouts/_hummel-product-shelve.pug
  include ./_layouts/_hummel-product-float.pug